<section class="banner" data-section-id="{{ section.id }}" data-section-type="banner">
    <div class="container">

		{%- if section.settings.title != blank -%}
			<div class="col-12">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

        {%- if section.settings.description != blank -%}
            <div class="col-12 banner__description">{{ section.settings.description }}</div>
        {%- endif -%}

        {% if section.settings.button_text != blank %}
            <a class="button button--primary" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        {% endif %}
    </div>
</section>

<section class="banner-mobile" data-section-id="{{ section.id }}" data-section-type="banner">
    <img class="mobile-banner-image" src="{{ section.settings.image_mobile | img_url : '1000x' }}">
    <div class="container">

		{%- if section.settings.title != blank -%}
			<div class="col-12">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

        {%- if section.settings.description != blank -%}
            <div class="col-12 banner__description">{{ section.settings.description }}</div>
        {%- endif -%}

        {% if section.settings.button_text != blank %}
            <a class="button button--primary" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        {% endif %}
    </div>
</section>

<style>
    .banner[data-section-id="{{ section.id }}"] {
        background-image: url({{ section.settings.image | img_url: '2000x' }});
    }
    .banner-mobile[data-section-id="{{ section.id }}"] {
        display: none;
    }

    @media (max-width: 768px){
        .banner[data-section-id="{{ section.id }}"]{
            display: none !important;
        }

        .banner-mobile[data-section-id="{{ section.id }}"] {
            display: block;
        }

        .banner-mobile[data-section-id="{{ section.id }}"] .banner__title{
            font-size: 32px;
            text-align: center;
            margin-top: 27px;
            line-height: 1.3;
        }

        .banner-mobile[data-section-id="{{ section.id }}"] .banner__title-shape strong{
            font-weight: normal;
            color: #87893e;
        }
    }

    .banner[data-section-id="{{ section.id }}"]{
        height: 770px;
        display: block;
    }

    .banner[data-section-id="{{ section.id }}"] h1.banner__title{
        text-align: center;
        padding-top: 158px;
        font-size: 45px;
    }

    .banner[data-section-id="{{ section.id }}"] .banner__title-shape:after{
        display: none;
    }
</style>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Desktop Banner background"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Mobile banner background"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Banner main heading",
                "info": "Use html tag <strong>text</strong> for highlight text with primary color"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Banner description"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text",
                "default": "take the quiz"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button url"
            }
        ]
    }
{% endschema %}
