<section class="contact-success" data-section-type="contact-success" data-section-id="{{ section.id }}">
    <div id="contact-success-message" class="container animate-fade">
        <div class="row">
            <div class="col-12">
                <h1 class="contact-success__title" data-name-placeholder>{{ section.settings.title }}</h1>
                <p class="contact-success__description">
                    {{ section.settings.description }}
                </p>
                <h2 class="contact-success__actions-title">{{ section.settings.actions_title }}</h2>
                <div class="contact-success__actions">
                    {% for block in section.blocks %}
                        {% if block.settings.url != blank %}
                            <a
                                href="{{ block.settings.url }}"
                                class="button {% if block.settings.is_primary %}button--primary{% else %}button--secondary{% endif %}"
                                {% if block.settings.data_action != blank %}
                                    data-action="{{ block.settings.data_action }}"
                                {% endif %}
                            >
                                {{ block.settings.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.senderFirstName = sessionStorage.getItem("contact_first_name") || 'Thanks';
</script>

{% schema %}
{
    "name": "Contact success",
    "settings": [{
        "type": "richtext",
        "id": "title",
        "label": "Success message title"
    },{
        "type": "textarea",
        "id": "description",
        "label": "Success message description"
    },{
        "type": "textarea",
        "id": "actions_title",
        "label": "CTAs group title"
    }],
    "blocks": [{
        "type": "action",
        "name": "Action",
        "settings": [{
            "type": "text",
            "id": "title",
            "label": "CTA text"
        },{
            "type": "url",
            "id": "url",
            "label": "CTA URL"
        },{
            "type": "checkbox",
            "id": "is_primary",
            "label": "Primary CTA",
            "default": true
        },{
            "type": "text",
            "id": "data_action",
            "label": "Action data",
            "info": "This field is for development purposes. We can use it to create specific actions, not only URLs like default buttons."
        }]
    }]
}
{% endschema %}