<section class="banner {{ contentHiddenClass }}" data-section-id="{{ section.id }}" data-section-type="banner">
    <div class="container">

		{%- if section.settings.title != blank -%}
			<div class="col-12">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

        {%- if section.settings.description != blank -%}
            <div class="col-12 banner__description">{{ section.settings.description }}</div>
        {%- endif -%}

		{%- if section.settings.button_text != blank and section.settings.button_url != blank -%}
			<div class="col-12">
				<div class="banner__action">
					<a href="{{ section.settings.button_url }}" class="button button--primary">
						{{ section.settings.button_text }}
					</a>
				</div>
			</div>
		{%- endif -%}
    </div>
</section>

<style>
    .banner[data-section-id="{{ section.id }}"] {
        background-image: url({{ section.settings.image | img_url: '2000x' }});
    }
</style>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner background"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Banner main heading",
				"info": "Use html tag <strong>text</strong> for highlight text with primary color"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Banner description"
            },
			{
				"type": "text",
				"id": "button_text",
				"label": "Button text",
				"default": "take the quiz"
			},
			{
				"type": "url",
				"id": "button_url",
				"label": "Button url"
			}
        ]
    }
{% endschema %}
