<section class="banner index-banner" data-section-id="{{ section.id }}" data-section-type="banner">
    <div class="container">
        <div class="banner-content-wrapper">
            {%- if section.settings.description != blank -%}
                <div class="col-12 js-animate animate-fade-in">
                    <div class="banner__description">{{ section.settings.description }}</div>
                </div>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
                <div class="col-12 js-animate animate-fade-in">
                    <h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
                </div>
            {%- endif -%}


            {% if section.settings.button_url != nil %}
            <div class="banner-btn js-animate animate-fade-in" data-btn="{{section.settings.button_url}}"><a href="{{ section.settings.button_url }}"><span>{{ section.settings.button_text }}</span></a></div>
            {% endif %}
        </div>
    </div>
</section>
<section class="index-banner-mob" data-section-id="{{ section.id }}" data-section-type="banner">
    <div class="container">
        <div class="row">

		{%- if section.settings.description != blank -%}
			<div class="col-12 banner__description js-animate animate-fade-in">
				<p>{{ section.settings.description }}</p>
			</div>
		{%- endif -%}

		{%- if section.settings.title != blank -%}
			<div class="col-12 js-animate animate-fade-in">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

        {% if section.settings.button_url != nil %}
            <div class=" col-12 banner-btn js-animate animate-fade-in" data-btn="{{section.settings.button_url}}"><a href="{{ section.settings.button_url }}"><span>{{ section.settings.button_text }}</span></a></div>
        {% endif %}
        </div>
    </div>
</section>

<style>
    .banner[data-section-id="{{ section.id }}"] {
      {% if section.settings.image != nil %}
      background-image: url({{ section.settings.image | img_url: '2000x' }});
      {% endif %}
      text-align: center;
      padding-top: 230px;
      display: block;
    }

    .banner[data-section-id="{{ section.id }}"] .banner__description{
        font-family: "Copernicus-Bold";
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0;
        color: #1f3337;
    }

    .banner[data-section-id="{{ section.id }}"] .banner__title-shape::after{
        display: none;
    }

    .banner[data-section-id="{{ section.id }}"] .banner__title{
        font-family: "Copernicus-Bold";
        max-width: 817px;
        font-size: 45px;
        margin: 0px auto;
        margin-top: 10px;
        line-height: 1.3;
    }

    .banner[data-section-id="{{ section.id }}"] .banner-btn a span{
        padding: 0px 50px;
    }

    @media screen and (max-width: 767px) {
     .banner[data-section-id="{{ section.id }}"] {
         {% if section.settings.image_mob != nil %}
        background-image: url({{ section.settings.image_mob | img_url: '800x' }});
        {% endif %}
      }   
    }
</style>
{% schema %}
    {
        "name": "Home banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Desktop background"
            },
            {
                "type": "image_picker",
                "id": "image_mob",
                "label": "Mobile background"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Banner description"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Banner main heading",
				        "info": "Use html tag <strong>text</strong> for highlight text with primary color"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text",
                "default": "take the quiz"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button url"
            }
        ],
        "presets": [
            {
                "name": "Home banner",
                "category": "Banner"
            }
        ]
    }

{% endschema %}
