<section class="contact" data-section-type="contact-form" data-section-id="{{ section.id }}">

	<div class="container">
		<div class="contact__header"> 
			{% if section.settings.section_title != blank %}
				<h2>{{ section.settings.section_title }}</h2>
			{% endif %}

			{% if section.settings.section_sub_title != blank %}
				<div class="contact__additional-info">{{ section.settings.section_sub_title }}</div>
			{% endif %}

			{% if section.settings.section_required_text != blank %}
				<p class="contact__required-mark">{{ section.settings.section_required_text }}</p>
			{% endif %}
		</div>

		{% if section.settings.builder_form != blank %}
			<div class="contact__form form practitioner-form js-practitioner-form">
				{{ section.settings.builder_form }}
			</div>
		{% endif %}



		{% if section.settings.iframe_code != blank %}
			{{ section.settings.iframe_code }}
		{% endif %}
	</div>
</section>




{% comment %}
	iframe for  refersion form, use it in *iframe_code* if you need.
	<iframe src="https://needed.refersion.com/affiliate/registration" frameborder="0" height="1600" width="100%"></iframe>
{% endcomment %}

{% schema %}
{
    "name": "Practioner form",
    "settings": [
		{
			"type": "text",
			"id": "section_title",
			"label": "Section heading",
			"default": "Partner with us."
		},
		{
			"type": "richtext",
			"id": "section_sub_title",
			"label": "Section subheading",
			"default": "<p>Got questions or feedback? Send us a message or check out the FAQs section!</p>"
		},
		{
			"type": "text",
			"id": "section_required_text",
			"label": "Required text",
			"default": "*field required"
		},
		{
			"type": "text",
			"id": "builder_form",
			"label": "Shortcode for Powerful Form Builder",
			"info": "Paste the ShortCode here from Your Powerful Form Builder APP"
		},
		{
			"type": "textarea",
			"id": "iframe_code",
			"label": "Iframe code for affiliate form",
			"info": "Paste the code here from Your Affiliate Registration Form"
    	},
		{
			"type": "number",
			"id": "max_characters",
			"label": "Message max characters",
			"default": 500
		}
	]
}
{% endschema %}
