<section class="product_standards_banner" data-section-id="{{ section.id }}" data-section-type="banner">
    <div class="container">
        <div class="banner-content-wrapper">
		{%- if section.settings.title != blank -%}
			<div class="section__heading js-animate animate-fade-in">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

        {%- if section.settings.description != blank -%}
            <div class="section__desc js-animate animate-fade-in">
                <p>{{ section.settings.description }}</p>
            </div>
        {%- endif -%}

        {% if section.settings.button_text != blank %}
            <a class="button button--primary js-animate animate-fade-in" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        {% endif %}
        </div>
    </div>
</section>

<section class="product_standards_mob_banner" data-section-id="{{ section.id }}" data-section-type="banner">
    <img class="banner_mobile_background" src="{{ section.settings.image_mob | img_url: '800x' }}">
    <div class="container">
        <div class="row">
		{%- if section.settings.title != blank -%}
			<div class="col-12 js-animate animate-fade-in">
				<h1 class="banner__title"><span class="banner__title-shape">{{ section.settings.title }}</span></h1>
			</div>
		{%- endif -%}

		{%- if section.settings.description != blank -%}
			<div class="col-12 banner__description js-animate animate-fade-in">
				<p>{{ section.settings.description }}</p>
			</div>
		{%- endif -%}

        {% if section.settings.button_url != nil %}
            <div class=" col-12 banner-btn js-animate animate-fade-in" data-btn="{{section.settings.button_url}}"><a href="{{ section.settings.button_url }}"><span>{{ section.settings.button_text }}</span></a></div>
        {% endif %}
        </div>
    </div>
</section>

<style>
    .product_standards_banner {
        {% if section.settings.image != nil %}
        background-image: url({{ section.settings.image | img_url: '2000x' }});
        {% endif %}
        text-align: center;
        position: relative;
        height: 770px;
        background-size: cover;
        background-position: 100% 0%;
    }

    .product_standards_mob_banner{
        display: none;
    }

    .product_standards_banner .banner-content-wrapper .section__heading{
        padding-top: 0px;
        max-width: 760px;
        margin: 0px auto;
    }

    .product_standards_banner > .container{
        display: table;
        height: 100%;
    }

    .product_standards_banner .banner-content-wrapper{
        display: table-cell;
        vertical-align: middle;
    }

    .product_standards_banner .banner-content-wrapper .banner__title{
        font-size: 45px;
        line-height: 1.3;
    }

    .product_standards_banner .banner-content-wrapper .section__desc{
        font-family: "BrownPro Regular";
        font-size: 18px;
        color: #202F30;
        line-height: 1.5;
        max-width: 650px;
        margin: 0px auto;
        padding-top: 20px;
    }

    @media screen and (max-width: 767px) {
        .product_standards_banner {
            {% if section.settings.image_mob != nil %}
            background-image: url({{ section.settings.image_mob | img_url: '800x' }});
            {% endif %}
            display: none;
        }   

        .product_standards_mob_banner{
            padding: 0px 0px 20px;
            display: block;
        }

        .product_standards_mob_banner .banner__title{
            font-size: 32px;
            text-align: center;
            line-height: 1.4;
            letter-spacing: 0px;
            margin-top: 27px;
        }

        .product_standards_mob_banner .banner__description{
            font-size: 18px;
            margin-top: 18px;
            line-height: 1.5;
            text-align: center;
        }
    }


</style>

{% schema %}
{
"name": "Banner",
"settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop background"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Mobile background"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Banner main heading",
            "info": "Use html tag <strong>text</strong> for highlight text with primary color"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Banner description"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "take the quiz"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
        }
    ]
}
{% endschema %}
